@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-150px);
  }
}

@layer utilities {
  .numb {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
    transform: translate3d(0, 0, 0);
  }
}
